/* Write your CSS here */
.header {
  width: 90%;
  /* max-width: 1110px; */
  margin: 0;
  text-align: center;
  background: #cbd5e1;
}
.header-heading {
  margin: 0;
  font-size: 40px;
  padding: 15px 0;
  color: #64748b;
  margin: 8px;
}
